/*
-----------------------------------------------
MISC. DEFINITIONS
-----------------------------------------------
*/

@font-face {
	font-family: 'Quantico';
	src: url('quantico.woff') format('woff');
	-webkit-font-smoothing: antialiased;
}

body::selection {
	background: #666;
}

/*
-----------------------------------------------
MAIN TAGS
-----------------------------------------------
*/

body {
	background-image: url('../img/bg.jpg');
	font-family: 'Helvetica', 'Arial', 'Verdana';
	margin: 1.4% auto 0 auto;
	color: #FFF;
}

a {
	color: #55738B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 25px 0 0 0;
	font-weight: normal;
	font-family: 'Quantico', 'Futura', 'Century Gothic', 'Menlo', 'Monaco', 'Helvetica', 'Arial';
}

input[type=text] {
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
	outline: none;
	color: #DDD;
	padding: 8px;
	font-size: 14px;
	width: 200px;
	display: block;
	box-shadow: 1px 1px 1px #111;
}

/*
-----------------------------------------------
MAIN USER INTERFACE
-----------------------------------------------
*/

div#main {
	width: 850px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
}

div#options {
	position: absolute;
	right: 0;
	text-align: right;
	font-variant: small-caps;
	cursor: pointer;
}

div#options span {
	display: none;
	background: rgba(85, 115, 139, 0.2);
	border-radius: 4px;
	padding: 0 3px;
	float: left;
	font-size: 10px;
	margin-left: 10px;
}

div#info {
	width: 240px;
	height: 525px;
	display: inline-block;
	margin: -20px 0 0 50px;
	position: absolute;
	font-size: 11px;
	line-height: 20px;
	text-align: justify;
}

div#info p#message {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 3px;
	padding: 10px;
	min-height: 40px;
}

/*
-----------------------------------------------
BOARD
-----------------------------------------------
*/

table {
	border: 2px solid #111;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	background-size: 20px 20px;
	border-spacing: 0;
	background-image: url('../img/board.png');
	display: inline-block;
}

.square {
	width: 10px;
	height: 10px;
	min-width: 10px;
	min-height: 10px;
	text-align: center;
	padding: 0;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-position: center;
	background-size: 5px 5px;
	background-repeat: no-repeat;
}

#board {
	border: 5px solid #111;
	box-shadow: 0 0 40px #000;
	background-size: 80px 80px;
}

#board .square {
	width: 66px;
	height: 66px;
	min-width: 66px;
	min-height: 66px;
	background-size: 60px 60px;
}

.square img {
	position: relative;
	top: 2px;
	width: 60px;
	display: none;
	height: 60px;
}


/*
-----------------------------------------------
LOGIN FORM
-----------------------------------------------
*/

form#login input[type=submit] {
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
	outline: none;
	color: #CCC;
	padding: 8px 7px 9px 7px;
	font-size: 14px;
	text-align: center;
	display: block;
	cursor: pointer;
}

form#login input[type=submit]:hover {
	background: rgba(255, 255, 255, 0.9);
	color: #000;
}

form#login input#name {
	width: 188px;
	display: inline;
}

form#login input#play {
	display: inline;
}

/*
-----------------------------------------------
LOBBY USER DISPLAY AND CHAT
-----------------------------------------------
*/

div#lobby {
	display: none;
}

div#lobby div#playerList {
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.6);
	width: 220px;
	height: 165px;
	padding: 10px;
	margin: 15px 0;
	overflow-y: auto;
}

.playerAvailable, .playerInGame {
	cursor: pointer;
	display: none;
	margin-bottom: 10px;
	font-size: 12px;
	background: #000;
	border-radius: 3px;
	padding: 5px;
	width: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.playerInGame {
	cursor: default;
}

.playerAvailable:hover {
	background: #FFF;
	color: #000;
}

.playerStatus {
	text-align: right;
	float: right;
	font-size: 9px;
}

div#lobby div#lobbyChat {
	margin: 15px 0;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.6);
	width: 240px;
	height: 185px;
	text-align: left;
	overflow-y: auto;
	word-wrap: break-word;
}

div#lobby input#lobbyChatInput {
	width: 220px;
	padding: 10px;
}

.choice {
	font-weight: bold;
	cursor: pointer;
	font-variant: small-caps;
	font-size: 14px;
}

#choice:hover {
	text-decoration: underline;
}

/*
-----------------------------------------------
IN-GAME DISPLAY AND CHAT
-----------------------------------------------
*/

div#inGame {
	display: none;
}

div#inGame #gameStatus {
	width: 220px;
	padding: 10px;
	margin: 15px 0;
	background: rgba(85, 115, 139, 0.5);
	border-radius: 3px;
}

div#inGame #discCount {
	font-size: 58px;
	font-family: 'Quantico', 'Futura', 'Century Gothic', 'Helvetica', 'Arial', 'Verdana';
	text-align: center;
	text-shadow: 0 0 60px #AAA;
	margin: 18px 0 25px 0;
}

div#inGame #blackCounter {
	color: #000;
}

div#inGame #graph {
	width: 220px;
	height: 45px;
	margin: 0 auto;
}

div#inGame #chat {
	margin: 15px 0;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.6);
	width: 240px;
	height: 243px;
	text-align: left;
	overflow-y: auto;
	word-wrap: break-word;
}

.chatLine {
	display: none;
	padding: 6px;
}

.sentChat {
	background: rgba(85, 115, 139, 0.5);
}

div#inGame #chatInput {
	width: 220px;
	padding: 10px;
}

/*
-----------------------------------------------
MOVE HISTORY
-----------------------------------------------
*/

div#inGame #moveHistory {
	display: none;
	margin: 15px 0;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.6);
	width: 220px;
	height: 267px;
	padding: 10px;
	text-align: left;
	overflow-y: auto;
}

div#inGame #moveHistory ol {
	margin-left: 20px;
}

/*
-----------------------------------------------
MISC.
-----------------------------------------------
*/

.highlight {
	display: none;
	color: black;
}

.mark {
	font-size: 12px;
}