body {
	background-color: #000;
	background-image: url('../img/bg.jpg');
	background-position: center;
	font-family: 'Futura', 'Menlo', 'Monaco', 'Helvetica', 'Arial';
	margin: 0;
}

#board {
	border: 5px solid #111;
	border-radius: 10px;
	box-shadow: 0 0 60px #000;
	margin: 0 auto;
	border-spacing: 0;
	background-image: url('../img/board.png');
}

.square {
	width: 70px;
	height: 70px;
	text-align: center;
}

#a1, #c1, #e1, #g1, #b2, #d2, #f2, #h2,
#a3, #c3, #e3, #g3, #b4, #d4, #f4, #h4,
#a5, #c5, #e5, #g5, #b6, #d6, #f6, #h6,
#a7, #c7, #e7, #g7, #b8, #d8, #f8, #h8 {
	background: rgba(0, 0, 0, 0.4);
}

#a1 {
	border-radius: 5px 0 0 0;
}

#h1 {
	border-radius: 0 5px 0 0;
}

#h8 {
	border-radius: 0 0 5px 0;
}

#a8 {
	border-radius: 0 0 0 5px;
}

img.black, img.white {
	width: 70px;
	height: 70px;
}
