body::selection {
	background: #000;
}

body {
	background-image: url('../img/bg.jpg');
	background-size: 2100px auto;
	background-position: center center;
	font-family: 'Helvetica', 'Arial', 'Verdana';
	margin: 1.4% auto 0 auto;
	color: #FFF;
}

a {
	color: #55738B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#main {
	width: 850px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.6);
	position: relative;
}

#options {
	position: absolute;
	right: 10px;
	top: 2px;
	font-size: 10px;
	font-variant: small-caps;
	cursor: pointer;
}

#displayChat, #displayHistory, #resign, #logout {
	display: none;
	margin-right: 10px;
}

#info {
	width: 240px;
	height: 525px;
	display: inline-block;
	margin: 5px 0 0 50px;
	position: absolute;
	font-size: 11px;
	line-height: 20px;
	text-align: justify;
}

#info #message {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	padding: 10px;
	min-height: 40px;
}

h1 {
	margin-top: 0;
	font-weight: normal;
	font-family: 'Futura', 'Menlo', 'Monaco', 'Helvetica', 'Arial';
}

input[type=text] {
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
	color: #CCC;
	padding: 8px;
	font-size: 14px;
	width: 200px;
	display: block;
	box-shadow: 1px 1px 1px #111;
}

#login input[type=submit] {
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
	color: #CCC;
	padding: 8px;
	font-size: 14px;
	text-align: center;
	display: block;
	cursor: pointer;
}

#login #nickname {
	width: 188px;
	display: inline;
}

#login #play {
	display: inline;
}

#lobby {
	display: none;
}

#lobby #playerList {
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.5);
	width: 220px;
	height: 150px;
	padding: 10px;
	margin: 15px 0;
	overflow-y: auto;
}

#lobby #playerList .player {
	cursor: pointer;
	display: none;
	margin-bottom: 10px;
	font-size: 12px;
	background: #000;
	border-radius: 6px;
	padding: 5px;
	width: auto;
}

#lobby #lobbyChat {
	margin: 15px 0;
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.5);
	width: 220px;
	height: 160px;
	padding: 10px;
	text-align: left;
	overflow-y: auto;
	word-wrap: break-word;
}

#lobby #lobbyChatInput {
	width: 220px;
	padding: 10px;
}

.choice {
	font-weight: bold;
	cursor: pointer;
	font-variant: small-caps;
	font-size: 14px;
}

#choice:hover {
	text-decoration: underline;
}

#inGame {
	display: none;
}

#inGame #gameStatus {
	width: 220px;
	padding: 10px;
	margin: 15px 0;
	background: rgba(85, 115, 139, 0.5);
	border-radius: 6px;
}

#inGame #discCount {
	font-size: 58px;
	font-family: 'Futura', 'Helvetica', 'Arial', 'Verdana';
	text-align: center;
	text-shadow: 0 0 60px #AAA;
	margin: 18px 0 25px 0;
}

#inGame #blackCounter {
	color: #000;
}

#inGame #graph {
	width: 220px;
	height: 45px;
	margin: 0 auto;
}

#inGame #chat {
	margin: 15px 0;
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.5);
	width: 220px;
	height: 215px;
	padding: 10px;
	text-align: left;
	overflow-y: auto;
	word-wrap: break-word;
}

.chatLine {
	display: none;
}

#inGame #chatInput {
	width: 220px;
	padding: 10px;
}

#inGame #moveHistory {
	display: none;
	margin: 15px 0;
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.5);
	width: 220px;
	height: 270px;
	padding: 10px;
	text-align: left;
	overflow-y: auto;
}

#inGame #moveHistory ol {
	margin-left: 20px;
}

table {
	border: 2px solid #111;
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
	background-size: 20px 20px;
	border-spacing: 0;
	background-image: url('../img/board.png');
	display: inline-block;
}

.square {
	width: 10px;
	height: 10px;
	min-width: 10px;
	min-height: 10px;
	text-align: center;
	padding: 0;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-position: center;
	background-size: 5px 5px;
	background-repeat: no-repeat;
}

#board {
	border: 5px solid #111;
	border-radius: 10px;
	box-shadow: 0 0 40px #000;
	background-size: 80px 80px;
	border-spacing: 0;
	background-image: url('../img/board.png');
	display: inline-block;
}

#board .square {
	width: 66px;
	height: 66px;
	min-width: 66px;
	min-height: 66px;
	text-align: center;
	padding: 0;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-position: center;
	background-size: 60px 60px;
	background-repeat: no-repeat;
}

#a1 {
	border-radius: 5px 0 0 0;
}

#h1 {
	border-radius: 0 5px 0 0;
}

#h8 {
	border-radius: 0 0 5px 0;
}

#a8 {
	border-radius: 0 0 0 5px;
}

.square img {
	position: relative;
	top: 2px;
	width: 60px;
	display: none;
	height: 60px;
}

.highlight {
	display: none;
	color: black;
}

.mark {
	font-size: 12px;
}