body::selection {
	background: #000;
}

body {
	background-color: #000;
	background-image: url('../img/bg.jpg');
	background-position: center;
	font-family: 'Helvetica', 'Arial', 'Verdana';
	margin: 1.4% auto 0 auto;
	color: #FFF;
}

a {
	color: #54895C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#main {
	width: 850px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
}

#options {
	position: absolute;
	right: 10px;
	top: 2px;
	font-size: 10px;
	font-variant: small-caps;
	cursor: pointer;
}

#resign, #logout {
	display: none;
}

#info {
	width: 240px;
	height: 525px;
	display: inline-block;
	margin: 5px 0 0 50px;
	position: absolute;
	font-size: 11px;
	line-height: 20px;
	text-align: justify;
}

#info #message {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 10px;
	height: 40px;
}

h1 {
	margin-top: 0;
	font-weight: normal;
	font-family: 'Futura', 'Menlo', 'Monaco', 'Helvetica', 'Arial';
}

input[type=text] {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
	color: #CCC;
	padding: 8px;
	font-size: 14px;
	width: 200px;
	display: block;
	box-shadow: 1px 1px 1px #111;
}

#login input[type=submit] {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
	color: #CCC;
	padding: 8px;
	font-size: 14px;
	text-align: center;
	display: block;
	cursor: pointer;
}

#login #nickname {
	width: 188px;
	display: inline;
}

#login #play {
	display: inline;
}

#lobby {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 220px;
	height: 300px;
	padding: 10px;
	margin: 10px 0;
	display: none;
	overflow-y: auto;
}

#lobby .player {
	cursor: pointer;
	display: none;
	margin-bottom: 10px;
	font-size: 14px;
	background-color: #000;
	border-radius: 10px;
	padding: 5px;
	width: auto;
}

.choice {
	font-weight: bold;
	cursor: pointer;
	font-variant: small-caps;
	font-size: 14px;
}

#choice:hover {
	text-decoration: underline;
}

#inGame {
	display: none;
}

#inGame #discCount {
	font-size: 64px;
	font-family: 'Futura', 'Helvetica', 'Arial', 'Verdana';
	text-align: center;
	margin: 30px 0;
	text-shadow: 0 0 5px #111;
}

#inGame #blackCounter {
	color: #000;
}

#inGame #chat {
	margin: 30px 0;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 220px;
	height: 260px;
	padding: 10px;
	text-align: left;
	overflow-y: auto;
	word-wrap: break-word;
}

#inGame #chatInput {
	width: 220px;
	padding: 10px;
}

#board {
	border: 5px solid #111;
	border-radius: 10px;
	box-shadow: 0 0 60px #000;
	border-spacing: 0;
	background-image: url('../img/board.png');
	display: inline-block;
}

.square {
	width: 66px;
	height: 66px;
	min-width: 66px;
	min-height: 66px;
	text-align: center;
	padding: 0;
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.32);
	background-position: center;
	background-size: 60px 60px;
	background-repeat: no-repeat;
}

#a1 {
	border-radius: 5px 0 0 0;
}

#h1 {
	border-radius: 0 5px 0 0;
}

#h8 {
	border-radius: 0 0 5px 0;
}

#a8 {
	border-radius: 0 0 0 5px;
}

img.black, img.white {
	position: relative;
	top: 2px;
	width: 60px;
	height: 60px;
}
